name: Build & Deploy to Release Branch

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    name: Build & Push to release branch
    permissions:
      contents: write # Allow actions to write to the repository
      id-token: write # Required for GitHub Actions to authenticate with the repository

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install

      - name: Build project
        run: bun build index.ts --outdir=dist --production --minify --target=browser --sourcemap

      - name: Deploy to release branch
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "GitHub Actions"

          # Create a temporary working directory
          mkdir out
          cp -r dist/* out/
          cd out

          git init
          git remote add origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
          git checkout -b release

          git add .
          git commit -m "Deploy from commit ${{ github.sha }}"
          git push --force origin release
